<section class="card">
  <header>{{format_time date_created}}</header>
  <div class="card-body">
    <p>{{content}}</p>
    <p>Posted by: {{user.username}}</p>
    <p>Posted on: {{date_created}}</p>
  </div>
</section>