<section class="card">
  <header>Comment</header>
  <div class="card-body">
    <p>{{content}}</p>
    <p>Posted by: {{user.username}}</p>
    <p>Posted on: {{format_date date_created}}</p>
  </div>
</section>