<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Refactor Forums</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <p>Welcome back, {{userName}} {{current_user_id}}</p>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Click on a forum post and join in on the conversation!</h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  
  <script src="/js/editmodal.js"></script>
    
</body>

</html>