<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.1/css/bulma.min.css">
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>Refactor Forums</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <a href="/dashboard">Dashboard</a>
    <p>Welcome back, {{userName}}</p>
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Click on a forum post and join in on the conversation!</h2>
    </aside>
    <div class="post">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <div id="modal-js-example" class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
      <div class="box">
        <form class="form post-form" id="edit-post-form">
        <p id="edit-post-tag">Editing</p>
        <div class="form-group">
          <label for="new-post-title">Title:</label>
          <input class="form-input" type="text" id="edit-post-title"/>
        </div>
        <div class="form-group">
          <label for="new-post-content">Content:</label>
          <input class="form-input" type="text" id="edit-post-content"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" id="edit-submit-button" type="submit">Submit</button>
        </div>
      </form>
      </div>
    </div>
    <button class="modal-close is-large" aria-label="close"></button>
  </div>
  <script src="/js/editmodal.js"></script>
  <script src="/js/deletepost.js"></script>
</body>
</html>