<section class="container">
  <section class="card">
    <header>Add a new post</header>
    <div class="card-body">
      <form class="form post-form">
        <div class="form-group">
          <label for="new-post-title">Title:</label>
          <input class="form-input" type="text" id="new-post-title" />
        </div>
        <div class="form-group">
          <label for="new-post-content">Content:</label>
          <input class="form-input" type="text" id="new-post-content" />
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Submit</button>
        </div>
      </form>
    </div>
  </section>
  {{#each userPosts as |post|}}
    {{> post-details}}
  {{/each}}
</section>

<script src="/js/addpost.js" id="post-hb-script" data-user_id={{user_id}}></script>